@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-prev {
    left: 24px !important;
    z-index: 999 !important;
}

.mkdf-wavy-effect {
    position: absolute;
    display: block;
    bottom: -1px;
    left: 0;
    width: 100%;
    fill: #fff;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
}